@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/*  */
a {
    /* 부모태그 상속 */
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common */
.wrap {
    font: 15px "Noto Sans KR", sans-serif;
}

/* header */
header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    /* background: aqua; */
    border-bottom: 2px solid #b9b8b8;
}

header .inner-header {
    width: 92%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}
header .inner-header .logo {
    /* background: tomato; */
    flex: 1;
}
header .inner-header .logo a {
    display: block;
    width: 100%;
}
header .inner-header .logo a img {
    height: 60px;
}
header .inner-header .gnb {
    flex: 5;
    margin-left: 20px;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
header .inner-header .gnb ul {
    width: 90%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
}
header .inner-header .menu-open {
    /* background: green; */
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    /* 메뉴랑 햄버거 한번에 가운데 정렬 */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background: tomato; */
}
header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}

section.visual li{
    width: 85%;
    height: 700px;
    margin: 0 auto;
    /* background: blue; */
}
section.visual li img {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-60%);
    margin: 150px 0;
    /* background: orange; */
}
section.visual li .txt {
    position: absolute;
    top: 380px;
    right: 660px;
    /* background: red; */
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    z-index: 1000;
}

/* 지도 txt 설정 */

section.visual {
    margin-bottom: 50px;
}

section.visual li .txt span {
    opacity: 0.6;
    font-size: 20px;
}

/* 대덕구 */
section.visual li .txt .span-one{
    /* background: blue; */
    display: block;
    margin-left: -225px;

}

/* 유성구 */
section.visual li .txt .span-tw{
    /* background: red; */
    display: block;
    margin-top: 30px;
    margin-left: -400px;


}

/* 서구 */
section.visual li .txt .span-th{
    /* background: orange; */
    display: block;
    margin-left: -455px;
    margin-top: 210px;
    

}

/* 동구 */
section.visual li .txt .span-fw{
    /* background: aqua; */
    display: block;
    margin-left: -165px;
    margin-top: -150px;
}



section.visual li a:hover {
    
    color: #ff9933;
}

section.search-map .search {
    background: black;
    width: 100%;
    height: 100vh;
    display: none;
}

/* section.about : style */

section.about {
    background: #fff;
    padding: 80px 0;
    margin-top: 100px;
}


section .title {
    color: #000;
}



section .title h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 200px;

}


section .title p {
    font-size: 18px;
    color: #555;
}


section.about ul {
    width: 74%;
    /* 30px = 위아래 auto = 좌우 */
    margin: 30px auto;
}

section.about li {
    float: left;
    /* 사진이 수평정렬 안됐을 때 ( 3개인데 아래로 한개가 떨어졌을 때 ) */
    /* 3/100 해서 1장당 33.3%씩 가져간다.  */
    /* ul에 clearfix */
    width: 33.3333%;
}

section.about ul li a .img-box {
    /* 박스 외에 나오는 것은 다 숨겨라. */
    overflow: hidden;
}

section.about ul li a .img-box img {
    /* 박스 안에 사진 크기를 맞춘다. */
    width: 100%;
    transition: 0.7s;
}

section.about ul li a:hover .img-box img {
    transform: scale(1.2);
}

section.about ul li a .text {
    /* 텍스트 박스 */
    padding: 25px;
}

section.about ul li a .text h3 {
    /* 회사소개 */
    font-size: 20px;
    margin-bottom: 10px;
}

section.about ul li a .text p {
    /* 그 아랫줄 글 */
    font-size: 16px;
    margin-bottom: 10px;
}

section.about ul li a .text p.more {
    /* MORE */
    font-weight: 700;
    /* 일괄 대문자 변경 lowercase: 일괄 소문자 */
    text-transform: uppercase;
    padding-left: 40px;
    position: relative;

}

section.about ul li a .text p.more::before {
    content: '\f30b';
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    background: #ff8342;
    border-radius: 50%;
    font-size: 15px;
    line-height: 30px;
    display: block;
    /* float: left;
    margin-right: 15px; */

    /* 포지션 or ploat을 걸면 자동으로 display:block */
    position: absolute;

    /* left, top 0을 주면 기준점이 없어 헤더 맨 위에 생김 */
    /* 방지 하려면 MORE에 포지션 relative를 걸어주면 기준점이 MORE에 생김 */
    left: 0;
    top: -2px;
}